@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/variables.scss';

.header-container{
    @include dflex-between();
    height: 90px;
    padding: {
        left: 24px;
        right: 24px;
    }
    box-shadow: 0px 4px 4px 0px #00000040;

    .title{
        @include dflex(11.19px);

        p{
            color: $red;
            font-size: 26px;
            font-family: Mukta;
        }
    }

    button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 44px;

    }
}
