@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/variables.scss';

.sidebar-content{
    @include dflexcolumn(91px);
    @include size(490px, auto);

    p{
        color: black;
        font-size: 20px;
        font-weight: 400;
        font-family: Inter;
    }

    .lower-part{
        @include dflexcolumn(38px);
        @include size(470px, auto);
        margin-left: 11px;
        align-items: start;

        .independed{
            @include dflex(44px);

            .buttons{
                @include size(171px, 32px);
                font-size: 14px;

                .no-bt{
                    border-top-right-radius: 2px;
                    border-bottom-right-radius: 2px;
                }

                .all-bt{ 
                    color: $blue;
                    border: 1px solid $blue;
                    border-top-left-radius: 2px;
                    border-bottom-left-radius: 2px;
                }

                button{
                    cursor: pointer;
                    padding: 5px 16px;
                    background: white;
                    border: 1px solid #D9D9D9;
                }
            }
        }

        .region{
            @include dflex(94px);

            .region-container{
                @include size(280px, 34px);

            }
        }

        .population{
            @include dflex(65px);
        }
    }
}