@mixin dflex-between(){
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin dflex($gap: 12px){
    display: flex;
    gap: $gap;
    align-items: center;
}

@mixin dflexcolumn($gap: 12px){
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap;
}

@mixin size($width, $height){
    width: $width;
    height: $height;
}